<!-- EXCLUSIVE DECORATIONS -->
<section class="exclusives">
  <div class="container">
    <h2>Exclusive decorations</h2>

    <div class="feature-block">
      <div class="feature-image">
        <div class="feature-image-placeholder placeholder-a"></div>
      </div>
      <div class="feature-text">
        <h3>More than 100+ different exclusive decorations</h3>
        <p>Already more than 100 different exclusive decorations available. Have a look here for the complete collection. More constantly being added.</p>
        <a href="#" class="btn btn-outline">Button</a>
      </div>
    </div>

    <div class="feature-block feature-block--reversed">
      <div class="feature-image">
        <div class="feature-image-placeholder placeholder-b"></div>
      </div>
      <div class="feature-text">
        <h3>More than 100+ different exclusive decorations</h3>
        <p>Already more than 100 different exclusive decorations available. Have a look here for the complete collection. More constantly being added.</p>
        <a href="#" class="btn btn-outline">Button</a>
      </div>
    </div>
  </div>
</section>
