<!-- INSTAGRAM -->
<section class="instagram">
  <div class="container">
    <h2>Look us up @roelofs_and_rubens</h2>
    <div class="insta-grid">
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
      <div class="insta-thumb"></div>
    </div>
  </div>
</section>
